[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jsonschema = "*"
pyjwt = "*"
pyld = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
sqlalchemy = "*"
uwsgi = "*"
arxiv-base = "==0.10.1rc0"
arxiv-submission-core = "==0.4.2rc2"
dataclasses = "*"
bleach = "*"
arxiv-auth = "==0.1.0rc2"
mimesis = "*"

[dev-packages]
mypy = "*"
"nose2" = "*"
openapi-spec-validator = "*"
mimesis = "*"
coverage = "*"
