[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jsonschema = "*"
pyjwt = "*"
pyld = "*"
python-dateutil = "*"
pytz = "*"
requests = ">=2.20.0"
sqlalchemy = "*"
uwsgi = "*"
arxiv-base = "==0.10.1rc2"
arxiv-auth = "==0.2.0rc1"
dataclasses = "*"
bleach = "*"
mimesis = "*"

[dev-packages]
mypy = "*"
"nose2" = "*"
openapi-spec-validator = "*"
mimesis = "*"
coverage = "*"
