{% extends "submit/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block content %}
<h2>Confirm authorship or proxy approval</h2>
<div class="field is-grouped">
  <div class="control">
    <label class="radio">
    <input id="iam_author" name="iam_author" type="radio" value="y">
    I am an author of this paper.</label>
  </div>
  <div class="control">
    <label class="radio">
    <input id="iam_not_author" name="iam_not_author" type="radio" value="n">
    I am not an author of this paper.</label>
  </div>
  <div class="control">
    <label class="checkbox">
    <input type="checkbox">
    By checking this box, I certify that I have received authorization from
    arXiv to submit papers on behalf of the authors.</label>
  </div>
</div>

{{ submit_macros.submit_nav() }}
{% endblock content %}
