{% extends "submit/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block within_content %}
<h2 class="is-size-4">Add or Edit Files</h2>

<div class="message is-info is-inline-block submit-nav">
  <div class="message-body">
    <p><span class="icon has-text-link"><i class="fa fa-info-circle"></i></span>
    You can upload all your files at once as a single .tar.gz file or upload individual files as needed.</p>
  </div>
</div>

<div class="file has-name">
  <label class="file-label">
    <input class="file-input" type="file" name="resume">
    <span class="file-cta">
      <span class="file-icon"><i class="fa fa-upload"></i></span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
    <span class="file-name">
      sample-archive-pr27x.tar.gz
    </span>
  </label>
  &nbsp;<button type="button" class="button is-link">Upload</button>
</div>

<h3>Files currently attached to this submission</h3>
<div class="columns">
  <div class="column">
    <table class="table is-hoverable table-footer">
      <tr>
        <th scope="col">File Name</th>
        <th scope="col">File Type</th>
        <th scope="col" width="5%">Actions</th>
      </tr>
      <tr>
        <td>file1.file</td>
        <td>TeX auxiliary</td>
        <td><a href="#"><span class="icon"><i class="fa fa-trash" aria-label="Delete"></i></span></a></td>
      </tr>
      <tr>
        <td>file2.file</td>
        <td>LaTeX2e</td>
        <td><a href="#"><span class="icon"><i class="fa fa-trash" aria-label="Delete"></i></span></a></td>
      </tr>
    </table>
    <p class="help is-pulled-right"><a href="#"><span class="icon"><i class="fa fa-trash" aria-label="Delete all"></i></span>remove all</a></p>
  </div>

  <div class="column">
    <div class="message is-info is-inline-block submit-nav">
      <div class="message-body">
        <p><span class="icon has-text-link"><i class="fa fa-info-circle"></i></span>
        Accepted formats, in order of preference:</p>
        <ul>
          <li>(La)TeX, AMS(La)TeX, PDFLaTeX</li>
          <li>PDF</li>
          <li>PostScript</li>
          <li>HTML with JPG/GIF/PNG images</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{ submit_macros.submit_nav() }}
{% endblock within_content %}
