{% extends "submit/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block content %}
<h2>Select a license</h2>
<div class="field is-grouped">
  <div class="control">
    <label class="radio">
    <input id="license_1" name="license_1" type="radio" value="y">
    arXiv.org perpetual, non-exclusive license to distribute this article.
    </label>
  </div>
  <div class="control">
    <label class="radio">
    <input id="license_2" name="license_2" type="radio" value="n">
    I know there is a variable for this in the base config and should be a loop of options.
    </label>
  </div>
</div>

{{ submit_macros.submit_nav() }}
{% endblock content %}
