{% extends "submit/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block within_content %}
<h2 class="is-size-4">Choose secondary classifications (optional)</h2>

<div class="message is-info is-inline-block">
  <div class="message-body">
    <p class="is-subtitle"><strong>Primary: Classification Here</strong></p>
    <p>Any secondary classes would go here also.</p>
  </div>
</div>

<div class="field">
  <div class="control">
    <label class="label">Archive <span class="icon has-text-link"><i class="fa fa-question-circle"></i></span></label>
    <div class="select">
      <select>
        <option>archive1</option>
        <option>archive2</option>
      </select>
    </div>
  </div>
</div>
<div class="field">
  <div class="control">
    <label class="label">Subject <span class="icon has-text-link"><i class="fa fa-question-circle"></i></span></label>
    <div class="select">
      <select>
        <option>subject1</option>
        <option>subject2</option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <div class="control">
    <button class="button">
      <span class="icon"><i class="fa fa-plus"></i></span>
      <span>Add Another Classification</span>
    </button>
  </div>
</div>

<div class="message is-info is-inline-block submit-nav">
  <div class="message-body">
    <p><span class="icon has-text-link"><i class="fa fa-info-circle"></i></span>
    More than three secondary classifications will result in a delay in the acceptance of your submission.</p>
  </div>
</div>

{{ submit_macros.submit_nav() }}
{% endblock within_content %}
