{% extends "submit/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block content %}
<h2>Choose secondary classifications (optional)</h2>

<div class="message is-info">
  <p class="is-5 is-subtitle">Primary: Classification Here</p>
</div>

<div class="field">
  <div class="control">
    <label>Archive</label>
    <div class="select">
      <select>
        <option>archive1</option>
        <option>archive2</option>
      </select>
      <span class="icon has-text-info">
        <i class="fas fa-info-circle"></i>
      </span>
    </div>
  </div>
</div>
<div class="field">
  <div class="control">
    <label>Subject</label>
    <div class="select">
      <select>
        <option>subject1</option>
        <option>subject2</option>
      </select>
      <span class="icon has-text-link">
        <i class="fas fa-info-circle"></i>
      </span>
    </div>
  </div>
</div>

<button class="button">
  <span class="icon has-text-link">
    <i class="fas fa-plus"></i>
  </span>
  Add Another Classification
</button>

<div class="message is-info">
  <p><span class="icon has-text-link"><i class="fas fa-info-circle"></i></span>
  More than three secondary classifications will result in a delay in the acceptance of your submission.</p>
</div>

{{ submit_macros.submit_nav() }}
{% endblock content %}
