{% extends "submit/base.html" %}

{% import "submit/submit_macros.html" as submit_macros %}

{% block within_content %}
<h2 class="is-size-4">Verify your contact information</h2>
<p><span class="label">Forename:</span> Ima</p>
<p><span class="label">Surname:</span> Nauthor</p>
<p><span class="label">Suffix:</span></p>
<p><span class="label">Affiliation:</span> Cornell University</p>
<p><span class="label">E-mail:</span> ian413@cornell.edu</p>
<div class="field">
  <div class="control">
    <label class="checkbox">
      <input id="user_verification" name="user_verification" type="checkbox" value="y">
      By checking this box, I verify that my user information is correct.
    </label>
  </div>
</div>

{{ submit_macros.submit_nav() }}
{% endblock within_content %}
